useDynLib(rrcov)
importFrom(stats4, plot, summary)

export(Cov,
       CovMest,
       CovControlMest,
       covMest,
       covMcd,
       ltsReg,
       covPlot, 
       ltsPlot,
       rrcov.control,
       tolellipse
)

##S3 generics
S3method(ltsReg, default)
S3method(ltsReg, formula)
S3method(plot, lts)
S3method(plot, mcd)

S3method(print, lts)
S3method(print, mcd)
S3method(print, summary.lts)

S3method(summary, lts)
S3method(summary, mcd)

## Workaround for the S3-S4 incompatibility
## in R2.2.1
export(plot.lts,
       plot.mcd,
       print.lts,
       print.mcd,
       summary.lts,
       print.summary.lts,
       summary.mcd)

## S4 generics
export(isClassic,
       getCenter,
       getCov,
       getCorr,
       getData,
       getDistance,
       getEvals,
       estimate
)

exportClasses(Cov,
              CovRobust,
              CovMest,
              CovControl,
              CovControlMest,
              SummaryCov,
              SummaryCovRobust
)

exportMethods(isClassic,
              getCenter,
              getCov,
              getCorr,
              getData,
              getDistance,
              getEvals,
              plot,
              show,
              summary,
              estimate
)
