useDynLib(rrcov)
importFrom(stats4, plot, summary)

export(CovClassic,
       Cov,
       CovMcd,
       CovMest,
       CovOgk,
       CovMve,
       CovSest,
       CovControlMcd,
       CovControlMest,
       CovControlOgk,
       CovControlMve,
       CovControlSest,
       covMest,
       T2.test,
       Wilks.test,
       PcaClassic,
       PcaHubert
)

##S3 generics
S3method(T2.test, default)
S3method(T2.test, formula)

S3method(Wilks.test, default)
S3method(Wilks.test, formula)
S3method(Wilks.test, data.frame)
S3method(Wilks.test, matrix)

S3method(PcaClassic, default)
S3method(PcaClassic, formula)
S3method(PcaHubert, default)
S3method(PcaHubert, formula)

## S4 generics
export(isClassic,
       getCenter,
       getCov,
       getCorr,
       getData,
       getDistance,
       getEvals,
       estimate,
       getQuan,
       getLoadings,
       getEigenvalues,
       getSdev,
       getScores,
       getPrcomp
)

exportClasses(Cov,
              CovClassic,
              CovRobust,
              CovMcd,
              CovMest,
              CovOgk,
              CovMve,
              CovSest,
              CovControl,
              CovControlMcd,
              CovControlMest,
              CovControlOgk,
              CovControlMve,
              CovControlSest,
              SummaryCov,
              SummaryCovRobust,
              Pca,
              PcaClassic,
              PcaRobust,
              PcaHubert
              
)

exportMethods(isClassic,
              getCenter,
              getCov,
              getCorr,
              getData,
              getDistance,
              getEvals,
              plot,
              show,
              summary,
              estimate,
              getQuan,
              getLoadings,
              getEigenvalues,
              getSdev,
              getScores,
              getPrcomp,
              print,
              predict,
              screeplot,
              biplot
              
)
